@page
@model OCPP.Core.Server.Pages.DebugModel
@{
    ViewData["Title"] = "Debuger";
}

@{
    Layout = "Shared/_Layout";
}
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using OCPP.Core.Database
@using OCPP.Core.Server


<main class="main-content position-relative border-radius-lg ps">

    <div class="card ">
        <div class="card-header pb-0 p-3">
            <div class="d-flex justify-content-between">
                <h6 class="mb-2">System's Chargers</h6>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center ">
                @foreach (ConnectorStatusView cpvm in Model.connectorStatus)
                {
                    string chargePointName = string.IsNullOrWhiteSpace(cpvm.ConnectorName) ? $"{cpvm.ChargePointId}:{cpvm.ConnectorId}" : cpvm.ConnectorName;
                    string lastCharge = (cpvm.MeterStart >= 0 && cpvm.MeterStop != null) ? string.Format("ChargekWh", (cpvm.MeterStop - cpvm.MeterStart)) : null;
                    string chargeTime = null;
                    if (cpvm.StartTime != null && cpvm.StopTime == null)
                    {
                        TimeSpan timeSpan = DateTime.UtcNow.Subtract(cpvm.StartTime.Value);
                        chargeTime = string.Format("ChargeTime", (timeSpan.Days * 24 + timeSpan.Hours), timeSpan.Minutes);
                    }

                    string cpIcon = "fa-plug";
                    string cpColor = "successColor";
                    string cpTitle = "Available";
                    switch (cpvm.LastStatus)
                    {
                        case "Charging":
                            cpIcon = "fa-bolt"; //"fa-car";
                            cpColor = "errorColor";
                            cpTitle = "Charging";
                            break;
                        case "Faulted":
                            cpIcon = "fa-times-circle";
                            cpColor = "errorColor";
                            cpTitle = "Faulted";
                            break;
                        case "Unavailable":
                            cpIcon = "fa-ban";
                            cpColor = "unavailableColor";
                            cpTitle = "Unavailable";
                            break;
                    }
                    <tr>
                        <td class="w-30">
                            <div class="d-flex px-2 py-1 align-items-center">
                                <div>
                                    @*                                            @if (cpvm.Online)
                                        {
                                        <div><i class="fas fa-link" title="@Localizer["ChargePointOnline"]"></i></div>
                                        }
                                        else
                                        {
                                        <div><i class="fas fa-unlink" title="@Localizer["ChargePointOffline"]"></i></div>
                                        }*@
                                </div>
                                <div class="ms-4">
                                    <p class="text-xs font-weight-bold mb-0">Name:</p>
                                    <h6 class="text-sm mb-0">@chargePointName</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <p class="text-xs font-weight-bold mb-0">Status:</p>
                                @*<a href="~/Home/Transactions/@Uri.EscapeDataString(cpvm.ChargePointId)/@cpvm.ConnectorId" class="text-decoration-none">*@
                                <h6 class="text-sm mb-0">@cpTitle</h6>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">

                                @if (!string.IsNullOrEmpty(chargeTime))
                                {
                                    <p class="text-xs font-weight-bold mb-0">Value Metered:</p>
                                    <h6 class="text-sm mb-0">
                                        <p class="card-text">@chargeTime</p>
                                    </h6>
                                }
                                else if (!string.IsNullOrEmpty(lastCharge))
                                {
                                    <p class="text-xs font-weight-bold mb-0">Last Charge:</p>
                                    <h6 class="text-sm mb-0">
                                        <p class="card-text">@lastCharge</p>
                                    </h6>
                                }
                                @*                                    else
                                    {
                                    <p class="text-xs font-weight-bold mb-0">Value:</p>
                                    <h6 class="text-sm mb-0">
                                    <p class="card-text">&nbsp;</p>
                                    </h6>
                                    }*@

                            </div>
                        </td>
                        @*                                @if (Model.ServerConnection)
                            {
                            <td class="align-middle text-sm">
                            <div class="col text-center">
                            <p class="text-xs font-weight-bold mb-0">Charging Data:</p>
                            <h6 class="text-sm mb-0">@cpvm.CurrentChargeData</h6>
                            </div>
                            </td>
                            }*@
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="accordion-1">
            <div class="container">
                <div class="row my-5">
                    <div class="col-md-6 mx-auto text-center">
                        <h2>Frequently Asked Questions</h2>
                        <p>A lot of people don’t appreciate the moment until it’s passed. I'm not trying my hardest, and I'm not trying to do </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="accordion" id="accordionRental">
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingOne">
                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        How do I order?
                                        <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionRental" style="">
                                    <div class="accordion-body text-sm opacity-8">
                                        We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game
                                        of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How can i make the payment?
                                        <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-sm opacity-8">
                                        It really matters and then like it really doesn’t matter. What matters is the people who are sparked by it. And the people who are like offended by it, it doesn’t matter. Because it's about motivating the doers. Because I’m here to follow my dreams and inspire other people to follow their dreams, too.
                                        <br>
                                        We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingThree">
                                    <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How much time does it take to receive the order?
                                        <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-sm opacity-8">
                                        The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now to be okay to be the greatest you. Would you believe in what you believe in, if you were the only one who believed it?
                                        If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration. People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest, and I'm not trying to do the best way I know how.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingFour">
                                    <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Can I resell the products?
                                        <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-sm opacity-8">
                                        I always felt like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves! They're slowed down by their perception of themselves. If you're taught you can’t do anything, you won’t do anything. I was taught I could do everything.
                                        <br><br>
                                        If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration. People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest, and I'm not trying to do the best way I know how.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingFifth">
                                    <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
                                        Where do I find the shipping details?
                                        <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>
                                <div id="collapseFifth" class="accordion-collapse collapse" aria-labelledby="headingFifth" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-sm opacity-8">
                                        There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill. I’m not really specifically talented at anything except for the ability to learn. That’s what I do. That’s what I’m here for. Don’t be afraid to be wrong because you can’t learn anything from a compliment.
                                        I always felt like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves! They're slowed down by their perception of themselves. If you're taught you can’t do anything, you won’t do anything. I was taught I could do everything.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-4 mt-4">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Categories</h6>
                </div>
                <div class="card-body p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                    <i class="ni ni-mobile-button text-white opacity-10"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm">Devices</h6>
                                    <span class="text-xs">250 in stock, <span class="font-weight-bold">346+ sold</span></span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                            </div>
                        </li>
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                    <i class="ni ni-tag text-white opacity-10"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm">Tickets</h6>
                                    <span class="text-xs">123 closed, <span class="font-weight-bold">15 open</span></span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                            </div>
                        </li>
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                    <i class="ni ni-box-2 text-white opacity-10"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm">Error logs</h6>
                                    <span class="text-xs">1 is active, <span class="font-weight-bold">40 closed</span></span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                            </div>
                        </li>
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                    <i class="ni ni-satisfied text-white opacity-10"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm">Happy users</h6>
                                    <span class="text-xs font-weight-bold">+ 430</span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header pb-0">
                    <h6>Timeline with dotted line</h6>
                </div>
                <div class="card-body p-3">
                    <div class="timeline timeline-one-side" data-timeline-axis-style="dotted">
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-bell-55 text-success text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">$2400, Design changes</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DEC 7:20 PM</p>
                                <p class="text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-success">Design</span>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-html5 text-danger text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">New order #1832412</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 11 PM</p>
                                <p class="text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-danger">Order</span>
                                <span class="badge badge-sm bg-gradient-danger">#1832412</span>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-cart text-info text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Server payments for April</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 9:34 PM</p>
                                <p class="text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-info">Server</span>
                                <span class="badge badge-sm bg-gradient-info">Payments</span>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-credit-card text-warning text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">New card added for order #4395133</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">20 DEC 2:20 AM</p>
                                <p class="text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-warning">Card</span>
                                <span class="badge badge-sm bg-gradient-warning">#4395133</span>
                                <span class="badge badge-sm bg-gradient-warning">Priority</span>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-key-25 text-primary text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Unlock packages for development</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">18 DEC 4:54 AM</p>
                                <p class="text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-primary">Development</span>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step">
                                <i class="ni ni-archive-2 text-success text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">New message unread</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">16 DEC</p>
                                <p class="text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-success">Message</span>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step">
                                <i class="ni ni-check-bold text-info text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Notifications unread</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">15 DEC</p>
                                <p class="text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step">
                                <i class="ni ni-box-2 text-warning text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">New request</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">14 DEC</p>
                                <p class="text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-warning">Request</span>
                                <span class="badge badge-sm bg-gradient-warning">Priority</span>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step">
                                <i class="ni ni-controller text-dark text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Controller issues</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">13 DEC</p>
                                <p class="text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-dark">Controller</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="card bg-gradient-dark">
                <div class="card-header bg-transparent pb-0">
                    <h6 class="text-white">Timeline dark with dashed line</h6>
                </div>
                <div class="card-body p-3">
                    <div class="timeline timeline-one-side" data-timeline-axis-style="dashed">
                        <div class="timeline-block mb-3">
                            <span class="timeline-step bg-dark">
                                <i class="ni ni-bell-55 text-success text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-white text-sm font-weight-bold mb-0">$2400, Design changes</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DEC 7:20 PM</p>
                                <p class="text-secondary text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-success">Design</span>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step bg-dark">
                                <i class="ni ni-html5 text-danger text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-white text-sm font-weight-bold mb-0">New order #1832412</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 11 PM</p>
                                <p class="text-secondary text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-danger">Order</span>
                                <span class="badge badge-sm bg-gradient-danger">#1832412</span>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step bg-dark">
                                <i class="ni ni-cart text-info text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-white text-sm font-weight-bold mb-0">Server payments for April</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 9:34 PM</p>
                                <p class="text-secondary text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-info">Server</span>
                                <span class="badge badge-sm bg-gradient-info">Payments</span>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step bg-dark">
                                <i class="ni ni-credit-card text-warning text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-white text-sm font-weight-bold mb-0">New card added for order #4395133</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">20 DEC 2:20 AM</p>
                                <p class="text-secondary text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-warning">Card</span>
                                <span class="badge badge-sm bg-gradient-warning">#4395133</span>
                                <span class="badge badge-sm bg-gradient-warning">Priority</span>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step bg-dark">
                                <i class="ni ni-key-25 text-primary text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-white text-sm font-weight-bold mb-0">Unlock packages for development</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">18 DEC 4:54 AM</p>
                                <p class="text-secondary text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-primary">Development</span>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step bg-dark">
                                <i class="ni ni-archive-2 text-success text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-white text-sm font-weight-bold mb-0">New message unread</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">16 DEC</p>
                                <p class="text-secondary text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-success">Message</span>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step bg-dark">
                                <i class="ni ni-check-bold text-info text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-white text-sm font-weight-bold mb-0">Notifications unread</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">15 DEC</p>
                                <p class="text-secondary text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step bg-dark">
                                <i class="ni ni-box-2 text-warning text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-white text-sm font-weight-bold mb-0">New request</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">14 DEC</p>
                                <p class="text-secondary text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-warning">Request</span>
                                <span class="badge badge-sm bg-gradient-warning">Priority</span>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step bg-dark">
                                <i class="ni ni-controller text-white"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-white text-sm font-weight-bold mb-0">Controller issues</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">13 DEC</p>
                                <p class="text-secondary text-sm mt-3 mb-2">
                                    People care about how you see the world, how you think, what motivates you, what you’re struggling with or afraid of.
                                </p>
                                <span class="badge badge-sm bg-gradient-dark">Controller</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
    {
        <br />
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMsg
        </div>
    }
</main>
