<li class="nav-item">
    <a class="nav-link" href="@Url.Page("/ForecastsRegistration")">
        <i class="fas fa-file-signature"></i>Forecasts Registration
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Page("/ExAnteRepresentation")">
        <i class="fas fa-chart-pie"></i>ExAnte Representation Settings
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Page("/ConfigurationOptions")">
        <i class="ni ni-settings-gear-65"></i>Configuration Options
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Page("/ProcessControl")">
        <i class="ni ni-archive-2"></i>Process Control
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Page("/Logs/ExecutionList")">
        <i class="ni ni-bullet-list-67"></i>Logs
    </a>
</li>
